@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para asegurar el fondo y el color */
body {
  background-color: #050505;
  color: white; /* Forzamos blanco base */
  overflow-x: hidden;
}

canvas {
  touch-action: none;
}
